.transactionForm {
    display: flex;
    flex-direction: column;
    margin: 24px 20px;
    gap: 3px;
}

.transactionForm h2 {
    color: white;
    text-align: center;
}

.transactionForm input {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 5px;
}

.transactionForm .suggestions::-webkit-scrollbar {
    display: none;
}

.transactionForm .suggestions {
    display: flex;
    justify-content: flex-start;
    padding: 12px 0;
    flex-direction: row;
    overflow-x: scroll;
    gap: 12px;
    list-style: none;
}

.transactionForm .suggestions li {
    text-decoration: none;
    padding: 12px;
    min-width: 100px;
    max-width: fit-content;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 1px 8px #000000;
}

.transactionHistory {
    margin: 24px 20px;
    display: flex;
    flex-direction: column;

}