@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 80px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(222, 222, 222, 0.8);
  position: sticky;
  top: 0;
  align-items: center;
  color: #FFF;
}

/* Logo Section */
.navbar .logoText {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
}

.navbar .logoText img {
  width: 45px;
  height: auto;
  border-radius: 4px;
}

.navbar .logoText span {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}

/* Desktop Menu */
.navbar .menus {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar .menus a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition-duration: 0.3s;
}

.navbar .menus a:hover {
  background-color: #fff;
  color: #1D77FF;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

/* MOBILE RESPONSIVENESS */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  padding: 1rem 0;
  transform: translateY(-200%);
  transition: transform 0.4s ease-in-out;
  z-index: 5;
}

.mobile-menu.show {
  transform: translateY(0);
}

.mobile-menu a {
  padding: 16px 12px;
  color: aliceblue;
  text-decoration: none;
  font-size: 14px;

}

.mobile-menu a:hover {
  background-color: #007bff;
  color: #FFF;
  border-radius: 6px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 24px 20px;
  }

  .navbar .menus {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    gap: 12px;
  }

  .navbar .logoText img {
    width: 35px;
  }

  .navbar .logoText span {
    font-size: 16px;
  }
}

/* Navbar End */

/* Dashboard Start  */

.dashboard {
  display: grid;
}

.dashboard a {
  text-decoration: none;
}

.dashboard .addOrder {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 24px 20px;
  padding: 20px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}


.dashboard .addOrder .illustration {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.dashboard .addOrder .illustration img {
  width: 120px;
}

.dashboard .addOrder .illustration>.boxDetail {
  position: relative;
  top: -74px;
  left: -110px;
  background-color: #fff;
  border-radius: 32px;
  font-size: 12px;
  padding: 7px 12px;
  color: #007bff;
}

.dashboard .addOrder .content {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #007bff75;
  border-radius: 12px;
  border: 1px solid #fff;
}

.dashboard .otherDirects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border-top: 1px dashed #fff;
  gap: 12px;
  margin: 24px 20px;
}

.dashboard .otherDirects .otherBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 24px 0px;
  padding: 12px;
  border-radius: 12px;

}

.dashboard .otherBox .illustration img {
  width: 80px;
}

.dashboard .otherDirects a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.dashboard .otherDirects .otherBoxContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 12px;
  background-color: #007bff75;
  border-radius: 12px;
  border: 1px solid #fff;
}

/* Dashboard End */


/* Checkout starts */

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px;
}

.container .note {
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  color: #1D77FF;
  background-color: #F1F7FF;
  padding: 12px;
  gap: 12px;
}

.container .note span {
  font-weight: 500;
}

/* Checkout ends */


/* hint start */

.container .hint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.container .hint div {
  background-color: #F1F7FF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6px;
  width: 50%;
  gap: 4px;
}

.container .hint div img {
  width: 120px;
  height: 120px;
}

.container .hint div .desc {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background-color: #FFF;
  width: 100%;
  padding: 8px 0;
}

/* hint ends */

.userAction {
  display: flex;
  flex-direction: column-reverse;
  background-color: #F1F7FF;
  padding: 24px;
  gap: 16px;
}

.userActionA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  gap: 14px;
}

.userActionB {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.userActionB .customerTag {
  background-color: #FFF;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.previewContainer {
  width: 50%;
  height: 120px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 2px dashed grey;
  padding: 12px;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #5b5b5b;
  font-size: 14px;
  text-align: center;
}

.fileInput {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.formFilling {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: space-between;
  height: 100%;
  font-weight: 400;
}

.priceInput {
  width: 100%;
  border: 0;
  padding: 6px;
  font-size: 24px;
  font-weight: 550;
  color: #007bff;
  text-align: center;
}


.submit-button {
  padding: 12px 20px;
  background-color: #1D77FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.submit-button:hover {
  background-color: #00378b;
}


.priceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  background-color: #FFF;
}

.formFilling .dropdown {
  padding: 16px 12px;
  border: 0;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

/* Remove border when clicking on the price input */
.no-border {
  border: none;
  outline: none;
}

/* Custom Dropdown Styling */
.customDropdown {
  position: relative;
  width: 100%;
  margin-top: 10px;

}

.dropdownHeader {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 18px;
  font-size: 14px;
}

.dropdownHeader .dropDownLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.dropdownOptions {
  position: absolute;
  font-size: 14px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 5;
}

.dropdownOptions div {
  padding: 12px 18px;
  text-align: left;
  transition: background 0.3s;
}

.dropdownOptions div:hover {
  background-color: #eee;
}

/* Slide-down animation */
.slide-down {
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  z-index: 5;
}

.spinner {
  z-index: 5;
  font-size: 2rem;
  margin-bottom: 10px;
}


.auth-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  width: 350px;
  border-radius: 12px;
  padding: 24px 12px;
  background-color: rgb(255, 255, 255, 0.2);
}

.auth-container h2 {
  color: #FFF;
  font-family: 'poppins';
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-container form input {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 24px;
  text-align: center;

}

.auth-container form input::placeholder {
  color: #FFF;
}

.auth-container form button {
  border: 0;
  color: #ffffff;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}