.need-orders {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .query-form{
    display: grid
;
    gap: 12px;
    grid-template-columns: auto auto;
  }
  
  .query-form input, .query-form button {
    padding: 16px 14px;
  }

  .query-form input::placeholder{
    font-family: 'poppins';
    font-weight: 600;
  }
  
  .query-item {
    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .query-item:hover {
    background: #e0e0e0;
  }
  
  .query-options {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    gap: 10px;
  }
  
  .query-options button:first-child {
    background: red;
    color: white;
  }
  
  .query-options button:last-child {
    background: blue;
    color: white;
  }

  .date-label {
    color: #f5f5f5;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  