body{
    font-family: 'poppins';
}

.supplier-container {
    margin: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.supplier-box {
    background: #fff;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px #0000001a;
    transition: transform .3sease-in-out;
}

.supplier-box>.supplierAction {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.supplier-box>.supplierAction p{
    display: flex;
    flex-direction: column;
}

.supplier-box>.supplierAction p > span{
    font-size: 24px;
    font-weight: 700;
    color: #007bff;
}

.supplier-box:hover {
    transform: scale(1.05);
}

.transaction-history {
    margin: 32px 12px;
    padding: 12px 0;
  }
  
  .transaction-item {
    display: flex;
    flex-direction: column;
    background: #b2d7ff;
    padding: 16px 24px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 20px;
    gap: 12px; /* Fixed typo 'gao' */
  }
  
  .txn-type {
    text-align: center;
    background: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 12px;
    margin-top: -32px;
    border: 1px solid;
    font-size: 12px;
  }
  
  .txn-amount {
    font-size: 24px;
    font-weight: 600;
    color: #007bff;
    text-align: center;
  }
  
  .txn-reason {
    font-size: 12px;
    text-align: center;
    height: 40px;
    overflow-y: scroll;
  }
  
  .txn-date {
    font-size: 12px;
    text-align: center;
    background: black;
    border-radius: 8px;
    padding: 12px;
  }
  

.supplierAction .deleteSupplier {
    background-color: #007bff;
    color: #fff;
    padding: 6px;
    font-size: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #848484;
    transition-duration: 0.3s;
}

.supplierAction .deleteSupplier:hover {
    box-shadow: none;
    transition: 0.3s;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

.loader {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.addSupplier {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 24px;
    margin: 24px 20px;
    border-radius: 8px;
    display: grid;
    gap: 12px;
}

.addSupplier input,
button {
    padding: 12px;
}

.transaction-form {
    opacity: 1;
    display: grid;
    grid-template-columns: auto;
    margin: 24px 20px;
    background: rgb(255, 255, 255, 0.2);
    transform: none;
    padding: 24px;
    gap: 12px;
}

.transaction-form>div>input,
button,
select {
    padding: 12px;
    width: 100%;
}


.transaction-form div {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.transaction-form div .plus,
.minus {
    font-size: 24px;
}

.transaction-form div .amountInput {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #007bff;
    border: 0;
}